http://openpsychometrics.org/_rawdata/RIASEC_data12Dec2018.zip

In [1]:
import pandas as pd

In [3]:
!head -n5 data.csv

R1	R2	R3	R4	R5	R6	R7	R8	I1	I2	I3	I4	I5	I6	I7	I8	A1	A2	A3	A4	A5	A6	A7	A8	S1	S2	S3	S4	S5	S6	S7	S8	E1	E2	E3	E4	E5	E6	E7	E8	C1	C2	C3	C4	C5	C6	C7	C8	introelapse	testelapse	surveyelapse	TIPI1	TIPI2	TIPI3	TIPI4	TIPI5	TIPI6	TIPI7	TIPI8	TIPI9	TIPI10	VCL1	VCL2	VCL3	VCL4	VCL5	VCL6	VCL7	VCL8	VCL9	VCL10	VCL11	VCL12	VCL13	VCL14	VCL15	VCL16	education	urban	gender	engnat	age	hand	religion	orientation	race	voted	married	familysize	uniqueNetworkLocation	country	source	major
3	4	3	1	1	4	1	3	5	5	4	3	4	5	4	3	5	4	1	2	4	5	2	4	3	5	5	4	5	5	5	5	2	1	4	1	2	2	1	3	1	3	1	1	1	3	1	1	3	110	109	5	4	2	3	2	7	5	6	6	5	1	1	1	1	1	0	0	0	0	1	0	0	1	1	1	1	2	2	1	1	14	1	7	1	1	2	1	1	1	US	2
1	1	2	4	1	2	2	1	5	5	5	4	4	4	4	4	2	1	4	2	1	3	4	2	2	3	4	3	4	2	3	1	1	1	1	1	1	1	1	3	1	1	2	1	1	2	1	1	25	236	367	5	5	7	4	7	6	6	4	6	1	1	1	1	1	1	0	1	0	0	1	0	0	1	1	1	1	2	2	1	1	29	1	7	3	4	1	2	3	1	US	1	Nursing
2	1	1	1	1	1	1	1	4	1	1	1	1	1	1	1	1	1	1	2	1	1	3	1	3	1	5	3	5	5	4	4	1	3	3	5	1	4	4	3	1	3	2	2	1	2	4	1	29	242	294	6	4	3	7	5	1	7	1	5	3	1	1	0	1	1	0	0	0	0	1	0	0	0	0	1	1	2	1	2	1	23	1	7	1	4	2	1	1	1	US	1
3	1	1	2	2	2	2	2	4	1	2	4	3	2	3	2	5	2	4	5	1	4	4	2	4	2	3	3	2	1	3	2	5	4	3	2	3	3	2	3	3	2	3	3	2	2	2	2	6	466	414	5	2	7	7	5	7	6	2	3	6	1	1	0	1	1	0	1	0	0	1	0	0	0	0	1	1	1	3	2	2	17	1	0	1	1	2	1	1	1	CN	0

In [4]:
df = pd.read_csv('./data.csv', delimiter='\t')

/home/ch1/anaconda3/envs/for_github/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df.head(2).T

                         0        1
R1                       3        1
R2                       4        1
R3                       3        2
R4                       1        4
R5                       1        1
...                    ...      ...
uniqueNetworkLocation    1        1
country                 US       US
source                   2        1
major                  NaN  Nursing
Unnamed: 93            NaN      NaN

[94 rows x 2 columns]

In [7]:
df.columns

Index(['R1', 'R2', 'R3', 'R4', 'R5', 'R6', 'R7', 'R8', 'I1', 'I2', 'I3', 'I4',
       'I5', 'I6', 'I7', 'I8', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'E1', 'E2', 'E3', 'E4',
       'E5', 'E6', 'E7', 'E8', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8',
       'introelapse', 'testelapse', 'surveyelapse', 'TIPI1', 'TIPI2', 'TIPI3',
       'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10', 'VCL1',
       'VCL2', 'VCL3', 'VCL4', 'VCL5', 'VCL6', 'VCL7', 'VCL8', 'VCL9', 'VCL10',
       'VCL11', 'VCL12', 'VCL13', 'VCL14', 'VCL15', 'VCL16', 'education',
       'urban', 'gender', 'engnat', 'age', 'hand', 'religion', 'orientation',
       'race', 'voted', 'married', 'familysize', 'uniqueNetworkLocation',
       'country', 'source', 'major', 'Unnamed: 93'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145828 entries, 0 to 145827
Data columns (total 94 columns):
R1                       145828 non-null int64
R2                       145828 non-null int64
R3                       145828 non-null int64
R4                       145828 non-null int64
R5                       145828 non-null int64
R6                       145828 non-null int64
R7                       145828 non-null int64
R8                       145828 non-null int64
I1                       145828 non-null int64
I2                       145828 non-null int64
I3                       145828 non-null int64
I4                       145828 non-null int64
I5                       145828 non-null int64
I6                       145828 non-null int64
I7                       145828 non-null int64
I8                       145828 non-null int64
A1                       145828 non-null int64
A2                       145828 non-null int64
A3                       145828 non-null int64
A4                       145828 non-null int64
A5                       145828 non-null int64
A6                       145828 non-null int64
A7                       145828 non-null int64
A8                       145828 non-null int64
S1                       145828 non-null int64
S2                       145828 non-null int64
S3                       145828 non-null int64
S4                       145828 non-null int64
S5                       145828 non-null int64
S6                       145828 non-null int64
S7                       145828 non-null int64
S8                       145828 non-null int64
E1                       145828 non-null int64
E2                       145828 non-null int64
E3                       145828 non-null int64
E4                       145828 non-null int64
E5                       145828 non-null int64
E6                       145828 non-null int64
E7                       145828 non-null int64
E8                       145828 non-null int64
C1                       145828 non-null int64
C2                       145828 non-null int64
C3                       145828 non-null int64
C4                       145828 non-null int64
C5                       145828 non-null int64
C6                       145828 non-null int64
C7                       145828 non-null int64
C8                       145828 non-null int64
introelapse              145828 non-null int64
testelapse               145828 non-null int64
surveyelapse             145828 non-null int64
TIPI1                    145828 non-null int64
TIPI2                    145828 non-null int64
TIPI3                    145828 non-null int64
TIPI4                    145828 non-null int64
TIPI5                    145828 non-null int64
TIPI6                    145828 non-null int64
TIPI7                    145828 non-null int64
TIPI8                    145828 non-null int64
TIPI9                    145828 non-null int64
TIPI10                   145828 non-null int64
VCL1                     145828 non-null int64
VCL2                     145828 non-null int64
VCL3                     145828 non-null int64
VCL4                     145828 non-null int64
VCL5                     145828 non-null int64
VCL6                     145828 non-null int64
VCL7                     145828 non-null int64
VCL8                     145828 non-null int64
VCL9                     145828 non-null int64
VCL10                    145828 non-null int64
VCL11                    145828 non-null int64
VCL12                    145828 non-null int64
VCL13                    145828 non-null int64
VCL14                    145828 non-null int64
VCL15                    145828 non-null int64
VCL16                    145828 non-null int64
education                145828 non-null int64
urban                    145828 non-null int64
gender                   145828 non-null int64
engnat                   145828 non-null int64
age                      145828 non-null int64
hand                     145828 non-null int64
religion                 145828 non-null int64
orientation              145828 non-null int64
race                     145828 non-null int64
voted                    145828 non-null int64
married                  145828 non-null int64
familysize               145828 non-null int64
uniqueNetworkLocation    145828 non-null int64
country                  145816 non-null object
source                   145828 non-null int64
major                    93017 non-null object
Unnamed: 93              1 non-null object
dtypes: int64(91), object(3)
memory usage: 104.6+ MB

1=Dislike, 3=Neutral, 5=Enjoy
R1	Test the quality of parts before shipment

TIPI1	Extraverted, enthusiastic.
TIPI2	Critical, quarrelsome.
TIPI3	Dependable, self-disciplined.
TIPI4	Anxious, easily upset.
TIPI5	Open to new experiences, complex.
TIPI6	Reserved, quiet.
TIPI7	Sympathetic, warm.
TIPI8	Disorganized, careless.
TIPI9	Calm, emotionally stable.
TIPI10	Conventional, uncreative.

The TIPI items were rated "I see myself as:" _____ such that

1 = Disagree strongly
2 = Disagree moderately
3 = Disagree a little
4 = Neither agree nor disagree
5 = Agree a little
6 = Agree moderately
7 = Agree strongly

In [29]:
df.loc[df['R1']==5,['TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10']].head()

    TIPI1  TIPI2  TIPI3  TIPI4  TIPI5  TIPI6  TIPI7  TIPI8  TIPI9  TIPI10
7       7      6      5      4      6      3      7      5      5       3
12      6      3      7      5      7      1      7      1      6       1
26      7      6      7      2      7      6      7      2      7       1
37      1      7      5      2      7      7      2      2      7       7
44      5      3      6      2      6      4      6      5      6       2

In [34]:
df['Target_R1_5']=(df['R1']==5)

In [35]:
df['Target_R1_5'].value_counts()

False    131820
True      14008
Name: Target_R1_5, dtype: int64

In [36]:
df['Target_R1_5'] = df['Target_R1_5'].astype(int)

In [37]:
df['Target_R1_5'].head()

0    0
1    0
2    0
3    0
4    0
Name: Target_R1_5, dtype: int64

In [38]:
df['Target_R1_5'].value_counts()

0    131820
1     14008
Name: Target_R1_5, dtype: int64

In [20]:
!pip install sklearn

Collecting sklearn
  Using cached https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Collecting scikit-learn (from sklearn)
  Downloading https://files.pythonhosted.org/packages/9f/c5/e5267eb84994e9a92a2c6a6ee768514f255d036f3c8378acfa694e9f2c99/scikit_learn-0.21.3-cp37-cp37m-manylinux1_x86_64.whl (6.7MB)
     |████████████████████████████████| 6.7MB 1.3MB/s eta 0:00:01
Collecting joblib>=0.11 (from scikit-learn->sklearn)
  Downloading https://files.pythonhosted.org/packages/cd/c1/50a758e8247561e58cb87305b1e90b171b8c767b15b12a1734001f41d356/joblib-0.13.2-py2.py3-none-any.whl (278kB)
     |████████████████████████████████| 286kB 1.9MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.17.0 in /home/ch1/anaconda3/envs/for_github/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.1)
Requirement already satisfied: numpy>=1.11.0 in /home/ch1/anaconda3/envs/for_github/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.17.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1316 sha256=32e46cb72e86a5dd4ad4a113ef6762fc5b56f16aab09364a6d8c6f73556f270c
  Stored in directory: /home/ch1/.cache/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: joblib, scikit-learn, sklearn
Successfully installed joblib-0.13.2 scikit-learn-0.21.3 sklearn-0.0

In [41]:
#https://hub.packtpub.com/4-ways-implement-feature-selection-python-machine-learning/
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
X=df[['TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 
'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10']]
clf = LogisticRegression(random_state=22, solver='lbfgs').fit(X,
df['Target_R1_5'])
rfe = RFE(clf, 4)
rfe.fit(X, df['Target_R1_5'])

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                 fit_intercept=True, intercept_scaling=1,
                                 l1_ratio=None, max_iter=100,
                                 multi_class='warn', n_jobs=None, penalty='l2',
                                 random_state=22, solver='lbfgs', tol=0.0001,
                                 verbose=0, warm_start=False),
    n_features_to_select=4, step=1, verbose=0)

In [40]:
rfe.support_

array([ True, False, False, False,  True,  True, False, False,  True,
       False])

In [25]:
rfe.ranking_

array([1, 5, 2, 6, 1, 1, 3, 4, 1, 7])

R1	Test the quality of parts before shipment

In [27]:
X.columns[rfe.ranking_==1]

Index(['TIPI1', 'TIPI5', 'TIPI6', 'TIPI9'], dtype='object')

TIPI1	Extraverted, enthusiastic.
TIPI5	Open to new experiences, complex.
TIPI6	Reserved, quiet.
TIPI9	Calm, emotionally stable.

In [28]:
X.columns[rfe.ranking_==2]

Index(['TIPI3'], dtype='object')

TIPI3	Dependable, self-disciplined.

TIPI1	Extraverted, enthusiastic.
TIPI2	Critical, quarrelsome.
TIPI3	Dependable, self-disciplined.
TIPI4	Anxious, easily upset.
TIPI5	Open to new experiences, complex.
TIPI6	Reserved, quiet.
TIPI7	Sympathetic, warm.
TIPI8	Disorganized, careless.
TIPI9	Calm, emotionally stable.
TIPI10	Conventional, uncreative.

In [50]:
dict_TIP = {}
dict_TIP['TIPI1'] = 'Extraverted, enthusiastic'
dict_TIP['TIPI2'] = 'Critical, quarrelsome'
dict_TIP['TIPI3'] = 'Dependable, self-disciplined'
dict_TIP['TIPI4'] = 'Anxious, easily upset'
dict_TIP['TIPI5'] = 'Open to new experiences, complex'
dict_TIP['TIPI6'] = 'Reserved, quiet'
dict_TIP['TIPI7'] = 'Sympathetic, warm'
dict_TIP['TIPI8'] = 'Disorganized, careless'
dict_TIP['TIPI9'] = 'Calm, emotionally stable'
dict_TIP['TIPI10'] = 'Conventional, uncreative'

In [61]:
X=df[['TIPI1', 'TIPI2', 'TIPI3', 'TIPI4', 'TIPI5', 
    'TIPI6', 'TIPI7', 'TIPI8', 'TIPI9', 'TIPI10']]
def analyze(R_column: str):
    target_col_str = 'Target_'+ R_column + '_5'
    print(target_col_str)
    df[target_col_str]=(df[R_column]==5).astype(int) 
    print(df[target_col_str].value_counts())
    clf = LogisticRegression(random_state=22, solver='lbfgs').fit(X,
        df[target_col_str])
    rfe = RFE(clf, 5)
    rfe.fit(X, df[target_col_str])
    print(rfe.support_)
    print(rfe.ranking_)
    print(X.columns[rfe.ranking_==1])
    for key in X.columns[rfe.ranking_==1]:
        print(key)
        print(dict_TIP[key])

In [62]:
#R1	Test the quality of parts before shipment
analyze('R1')

Target_R1_5
0    131820
1     14008
Name: Target_R1_5, dtype: int64
[ True False  True False  True  True False False  True False]
[1 4 1 5 1 1 2 3 1 6]
Index(['TIPI1', 'TIPI3', 'TIPI5', 'TIPI6', 'TIPI9'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI3
Dependable, self-disciplined
TIPI5
Open to new experiences, complex
TIPI6
Reserved, quiet
TIPI9
Calm, emotionally stable

In [70]:
#R8	Install flooring in houses
analyze('R8')

Target_R8_5
0    140134
1      5694
Name: Target_R8_5, dtype: int64
[ True False  True False  True False  True False  True False]
[1 5 1 3 1 2 1 6 1 4]
Index(['TIPI1', 'TIPI3', 'TIPI5', 'TIPI7', 'TIPI9'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI3
Dependable, self-disciplined
TIPI5
Open to new experiences, complex
TIPI7
Sympathetic, warm
TIPI9
Calm, emotionally stable

In [63]:
#I3	Do research on plants or animals
analyze('I3')

Target_I3_5
0    117361
1     28467
Name: Target_I3_5, dtype: int64
[ True False False False  True  True False  True False  True]
[1 5 3 2 1 1 4 1 6 1]
Index(['TIPI1', 'TIPI5', 'TIPI6', 'TIPI8', 'TIPI10'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI5
Open to new experiences, complex
TIPI6
Reserved, quiet
TIPI8
Disorganized, careless
TIPI10
Conventional, uncreative

In [64]:
#A4	Write a song
analyze('A4')

Target_A4_5
0    118085
1     27743
Name: Target_A4_5, dtype: int64
[False False False  True  True False  True  True False  True]
[3 6 2 1 1 5 1 1 4 1]
Index(['TIPI4', 'TIPI5', 'TIPI7', 'TIPI8', 'TIPI10'], dtype='object')
TIPI4
Anxious, easily upset
TIPI5
Open to new experiences, complex
TIPI7
Sympathetic, warm
TIPI8
Disorganized, careless
TIPI10
Conventional, uncreative

In [65]:
#S2	Do volunteer work at a non-profit organization
analyze('S2')

Target_S2_5
0    103195
1     42633
Name: Target_S2_5, dtype: int64
[ True  True  True False  True False  True False False False]
[1 1 1 4 1 5 1 3 2 6]
Index(['TIPI1', 'TIPI2', 'TIPI3', 'TIPI5', 'TIPI7'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI2
Critical, quarrelsome
TIPI3
Dependable, self-disciplined
TIPI5
Open to new experiences, complex
TIPI7
Sympathetic, warm

In [66]:
#S7	Teach children how to read
analyze('S7')

Target_S7_5
0    113565
1     32263
Name: Target_S7_5, dtype: int64
[ True  True  True False  True False  True False False False]
[1 1 1 2 1 6 1 3 5 4]
Index(['TIPI1', 'TIPI2', 'TIPI3', 'TIPI5', 'TIPI7'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI2
Critical, quarrelsome
TIPI3
Dependable, self-disciplined
TIPI5
Open to new experiences, complex
TIPI7
Sympathetic, warm

In [67]:
#E8	Run a toy store
analyze('E8')

Target_E8_5
0    128999
1     16829
Name: Target_E8_5, dtype: int64
[ True False False False  True False  True  True False  True]
[1 6 5 3 1 2 1 1 4 1]
Index(['TIPI1', 'TIPI5', 'TIPI7', 'TIPI8', 'TIPI10'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI5
Open to new experiences, complex
TIPI7
Sympathetic, warm
TIPI8
Disorganized, careless
TIPI10
Conventional, uncreative

In [68]:
#C7	Handle customers' bank transactions
analyze('C7')

Target_C7_5
0    137189
1      8639
Name: Target_C7_5, dtype: int64
[ True False  True False False False False  True  True  True]
[1 4 1 5 2 3 6 1 1 1]
Index(['TIPI1', 'TIPI3', 'TIPI8', 'TIPI9', 'TIPI10'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI3
Dependable, self-disciplined
TIPI8
Disorganized, careless
TIPI9
Calm, emotionally stable
TIPI10
Conventional, uncreative

In [69]:
#C8	Keep shipping and receiving records
analyze('C8')

Target_C8_5
0    136651
1      9177
Name: Target_C8_5, dtype: int64
[ True False False False  True  True False  True False  True]
[1 5 3 6 1 1 4 1 2 1]
Index(['TIPI1', 'TIPI5', 'TIPI6', 'TIPI8', 'TIPI10'], dtype='object')
TIPI1
Extraverted, enthusiastic
TIPI5
Open to new experiences, complex
TIPI6
Reserved, quiet
TIPI8
Disorganized, careless
TIPI10
Conventional, uncreative

Codebook:

The following data was collected 2015 - 2018 using an online RIASEC / Holland Code test that internet users would visit to obtain personalized results.

It had one page with the 48 items used to calculate the RIASEC scales, on a second page takers were asked if they would be willing to complete an additional research survey. This dataset contains all those who agreed to complete the optional research survey. The only ommissions are that people who entered an age < 13 were dropped, so this data may require significant cleaning

The following items were rated on a 1-5 scale of how much they would like to perform that task, with the labels 1=Dislike, 3=Neutral, 5=Enjoy.

R1	Test the quality of parts before shipment
R2	Lay brick or tile
R3	Work on an offshore oil-drilling rig
R4	Assemble electronic parts
R5	Operate a grinding machine in a factory
R6	Fix a broken faucet
R7	Assemble products in a factory
R8	Install flooring in houses
I1	Study the structure of the human body
I2	Study animal behavior
I3	Do research on plants or animals
I4	Develop a new medical treatment or procedure
I5	Conduct biological research
I6	Study whales and other types of marine life
I7	Work in a biology lab
I8	Make a map of the bottom of an ocean
A1	Conduct a musical choir
A2	Direct a play
A3	Design artwork for magazines
A4	Write a song
A5	Write books or plays
A6	Play a musical instrument
A7	Perform stunts for a movie or television show
A8	Design sets for plays
S1	Give career guidance to people
S2	Do volunteer work at a non-profit organization
S3	Help people who have problems with drugs or alcohol
S4	Teach an individual an exercise routine
S5	Help people with family-related problems
S6	Supervise the activities of children at a camp
S7	Teach children how to read
S8	Help elderly people with their daily activities
E1	Sell restaurant franchises to individuals
E2	Sell merchandise at a department store
E3	Manage the operations of a hotel
E4	Operate a beauty salon or barber shop
E5	Manage a department within a large company
E6	Manage a clothing store
E7	Sell houses
E8	Run a toy store
C1	Generate the monthly payroll checks for an office
C2	Inventory supplies using a hand-held computer
C3	Use a computer program to generate customer bills
C4	Maintain employee records
C5	Compute and record statistical and other numerical data
C6	Operate a calculator
C7	Handle customers' bank transactions
C8	Keep shipping and receiving records

These other durations were recorded (measured on the server side):

introelapse		The time spent on the introduction/landing page (in seconds)
testelapse		The time spent on all the RIASEC questions (should be equivalent to the time elapsed on all the indiviudal questions combined)
surveyelapse		The time spent answering the supplemental demographic survey

On the next page was a generic demographics survey with many different questions.

The Ten Item Personality Inventory was administered (see Gosling, S. D., Rentfrow, P. J., & Swann, W. B., Jr. (2003). A Very Brief Measure of the Big Five Personality Domains. Journal of Research in Personality, 37, 504-528.):

TIPI1	Extraverted, enthusiastic.
TIPI2	Critical, quarrelsome.
TIPI3	Dependable, self-disciplined.
TIPI4	Anxious, easily upset.
TIPI5	Open to new experiences, complex.
TIPI6	Reserved, quiet.
TIPI7	Sympathetic, warm.
TIPI8	Disorganized, careless.
TIPI9	Calm, emotionally stable.
TIPI10	Conventional, uncreative.

The TIPI items were rated "I see myself as:" _____ such that

1 = Disagree strongly
2 = Disagree moderately
3 = Disagree a little
4 = Neither agree nor disagree
5 = Agree a little
6 = Agree moderately
7 = Agree strongly



The following items were presented as a check-list and subjects were instructed "In the grid below, check all the words whose definitions you are sure you know":

VCL1	boat
VCL2	incoherent
VCL3	pallid
VCL4	robot
VCL5	audible
VCL6	cuivocal
VCL7	paucity
VCL8	epistemology
VCL9	florted
VCL10	decide
VCL11	pastiche
VCL12	verdid
VCL13	abysmal
VCL14	lucid
VCL15	betray
VCL16	funny

A value of 1 is checked, 0 means unchecked. The words at VCL6, VCL9, and VCL12 are not real words and can be used as a validity check.

A bunch more questions were then asked:


education			"How much education have you completed?", 1=Less than high school, 2=High school, 3=University degree, 4=Graduate degree
urban				"What type of area did you live when you were a child?", 1=Rural (country side), 2=Suburban, 3=Urban (town, city)
gender				"What is your gender?", 1=Male, 2=Female, 3=Other
engnat				"Is English your native language?", 1=Yes, 2=No
age					"How many years old are you?"
hand				"What hand do you use to write with?", 1=Right, 2=Left, 3=Both
religion			"What is your religion?", 1=Agnostic, 2=Atheist, 3=Buddhist, 4=Christian (Catholic), 5=Christian (Mormon), 6=Christian (Protestant), 7=Christian (Other), 8=Hindu, 9=Jewish, 10=Muslim, 11=Sikh, 12=Other
orientation			"What is your sexual orientation?", 1=Heterosexual, 2=Bisexual, 3=Homosexual, 4=Asexual, 5=Other
race				"What is your race?", 1=Asian, 2=Arab, 3=Black, 4=Indigenous Australian / Native American / White, 5=Other (There was a coding error in the survey, and three different options were given the same value)
voted				"Have you voted in a national election in the past year?", 1=Yes, 2=No
married				"What is your marital status?", 1=Never married, 2=Currently married, 3=Previously married
familysize			"Including you, how many children did your mother have?"		
major				"If you attended a university, what was your major (e.g. "psychology", "English", "civil engineering")?"


These values were also calculated for technical information:

uniqueNetworkLocation	1 if the record is the only one from its network location in the dataset, 2 if there are more than one record. There can be more than one record from the same network if for example that network is shared by a school etc, or it may be because of test retakes
country	The country of the network the user connected from
source	1=from Google, 2=from an internal link on the website, 0=from any other website or could not be determined